.admin-booking-table-container {
  margin: 20px;
  overflow-x: auto;
  max-width: 100%;
}

.admin-booking-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-booking-table th,
.admin-booking-table td {
  padding: 12px;
  border: 1px solid #ddd;
  font-size: small; 
  text-align: center;
}

.admin-booking-table th {
  background-color: #f2f2f2;
}

.admin-booking-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.admin-booking-table tbody tr:hover {
  background-color: #ddd;
}