.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Completed {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Upcoming {
      color: goldenrod;
      background-color: rgba(189, 189, 3, 0.103);
    }
    &.Ongoing {
      color: skyblue;
      background-color: rgba(189, 189, 3, 0.103);
    }
    &.Cancelled {
      color: red;
      background-color: rgba(144, 144, 82, 0.103);
    }
    &.Cancelled by TripTrails {
      color: red;
      background-color: rgba(148, 147, 112, 0.103);
    }
  }
}