.booking-detail-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.booking-section {
  margin-bottom: 20px;
}

.booking-section h2,
.booking-section h3 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}

.booking-section p {
  margin: 0 0 5px;
  font-size: 1rem;
}

.booking-section hr {
  border: none;
  border-top: 1px solid #343333;
  margin: 10px 0;
}

.left-section,
.right-section {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.left-section img {
  max-width: 70%;
  border-radius: 12px;
  border: 1px solid #ccc;;
}

.cancel-booking-button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  background-color: #ff6347;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.cancel-booking-button:hover {
  background-color: #ff3e1a;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; 
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  margin-top: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

