.edit-hotel-container {
  /* max-width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* margin: auto; */
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  flex: 1;
  margin-right: 15px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.box-container {
  max-width: 600px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #eeebeb;
}
